* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 20px;
    font-weight:500;
    color: #2F281E;
}
.main {
    max-width: 1440px;
    margin: auto;
}
.maincontent{
    width: 75%;
    float: right;

}
.asidebar{
    position: sticky;
    top: 90px;
    width: 25%;
    float: left;
    height: 100%;
}
nav {
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 10px;
}
nav > img {
    display: block;
    float: right;
    margin-top: 0px;
}
.sticky-image {
    float: right;
    position: sticky;
	width: 27.14em;
	height: 27.14em;
	z-index: -1;
	top: 80px;
}

.left {
    padding-right: 50px;
    font-weight: bold;
}
.center {
    padding-right: 830px;
    font-weight: bold;
}
section {
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px;
}
h2 {
    padding: 20px 0px 20px 0px;
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
}
sup {
    font-family: 'Farro', sans-serif;
}
p{
    font-family: 'PT Sans', sans-serif;
}
#bc {
    background-color: grey;
}
hr{
    width: 300px;
}